@model Infrastructure.Models.Overtime

@{
    ViewData["Title"] = "Details";
    Layout = "_StarAdminLayout";
}

<h1>Details</h1>

<div>
    <h4>Overtime</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormalOT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormalOT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NormalOT2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NormalOT2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekendOT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekendOT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HolyDayOT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HolyDayOT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModificationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModificationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifierUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifierUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleterUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleterUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
