@model IEnumerable<Infrastructure.Models.Overtime>

@{
    ViewData["Title"] = "Index";
    Layout = "_StarAdminLayout";
    int rowNumber = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">

        <div class="card-body">
            <h4 class="card-title">Overtime</h4>
            <p class="card-description">
                <a asp-action="Create" asp-controller="Overtimes" class="btn btn-primary btn-sm">New OT</a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Employee ID</th>
                                <th>Full Name</th>
                                <th>Date</th>
                                <th>Normal OT</th>
                                <th>Normal OT2</th>
                                <th>Weekend OT</th>
                                <th>Holiday</th>
                                <th>Creation Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.MiddleName) @Html.DisplayFor(modelItem => item.Employee.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NormalOT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NormalOT2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WeekendOT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HolyDayOT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreationTime)
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" type="button" title="Delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>

                             }


                        </tbody>
                    </table>
                    <!--end: Datatable-->
                </div>

        </div>
    </div>
</div>



