@model Infrastructure.Models.IncomeTaxSetting

@{
    ViewData["Title"] = "Details";
    Layout = "_StarAdminLayout";
}
 

<div>
    <h4>Income Tax Setting Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndingAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndingAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Percent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Percent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deductable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deductable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
