@model IEnumerable<Infrastructure.Models.IncomeTaxSetting>

@{
    ViewData["Title"] = "Index";
    Layout = "_StarAdminLayout";
    int rowNumber = 0;
}
  
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-label">Income Tax Settings</h4>
            <p class="card-description">
                <a asp-action="Create" asp-controller="IncomeTaxSettings" class="btn btn-primary font-weight-bolder">New Setting</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th title="Field #1">From</th>
                            <th title="Field #2">To</th>
                            <th title="Field #3">Percentage</th>
                            <th title="Field #4">Deductable</th>
                            <th title="Field #5">Active Date</th>
                            <th title="Field #6">Creation Time</th>
                            <th title="Field #7">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            rowNumber++;
                            <tr>
                                <td>@rowNumber</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartingAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndingAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Percent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Deductable)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActiveDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreationTime)
                                </td>
                                <td>
                                    <a class="btn btn-warning btn-sm" type="button" title="Edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-info btn-sm" type="button" title="Detail" asp-action="Details" asp-route-id="@item.Id">Detail</a>
                                    <a class="btn btn-danger btn-sm" type="button" title="Delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>

            <!--end: Datatable-->
        </div>
    </div>
</div>
    

