@model Infrastructure.Models.Attendance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName) @Html.DisplayFor(model => model.Employee.MiddleName)@Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.NoDays)*@
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.NoDays)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModificationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModificationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifierUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifierUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleterUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleterUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
