@using Infrastructure.Models
@model IEnumerable<Infrastructure.Models.EmployeeSalary>

@{
    ViewData["Title"] = "Index";
    Layout = "_StarAdminLayout";
    int rowNumber = 0;
}
 
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Employee Salary List</h4>
            <p class="card-description"></p>
            <a asp-action="Create" asp-controller="EmployeeSalaries" class="btn btn-primary btn-sm">New Salary</a>
            
            <div class="table-responsive pt-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Employee ID</th>
                            <th>Full Name</th>
                            <th>Basic Salary</th>
                            <th>Transport Allowance</th>
                            <th>Home Allowance</th>
                            <th>Other Allowance</th>
                            <th>Active Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            rowNumber++;
                            <tr>
                                <td>@rowNumber</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.MiddleName) @Html.DisplayFor(modelItem => item.Employee.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BasicSalary)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.TransportAllowance)*@
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.HomeAllowance)*@
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.OtherAllowance)*@
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreationTime)
                                </td>
                                <td>
                                    @if (item.SalaryStatus == SalaryStatus.Active)
                                    {
                                        @*<a class="btn btn-outline-danger" asp-action="Edit" title="De-Activate" asp-route-id="@item.Id">De-Activate Salary</a>*@
                                        <a class="btn btn-danger btn-sm" type="button" title="De-Activate" asp-action="Edit" asp-route-id="@item.Id">De-Activate Salary</a>
                                    }
                                    else
                                    {
                                        @*<a class="btn btn-outline-success" asp-action="NewSalary" title="New Salary" asp-route-id="@item.Id">New Salary</a>*@
                                        <a class="btn btn-danger btn-sm" type="button" title="De-Activate" asp-action="Edit" asp-route-id="@item.Id">De-Activate Salary</a>
                                    }

                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
           
            <!--end: Datatable-->
        </div>
</div>
</div>
 

 